@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
:root{
    --padding: 0 52px
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
	line-height: 1;
    background-color: #1C1C1C;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.main{
    display: flex;
    background-color: #ECFDF5;
    height:  550px;
    width:  550px;
    position: relative;
}
.big-title{
padding-top: 115px;
padding-left: 52px;
padding-bottom: 355px;
padding-right: 166px;
font-family: 'Karla', sans-serif;
position: relative;
}
.big-title h1:first-child,
.big-title h1:nth-child(2){
    color: #2B283A;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 100%; 
    /*or 40px*/
    letter-spacing: -0.05em;
}
.big-title h1:nth-child(2){
    color: #10B981;
    margin-bottom: 10px;
}
.big-title h4 {
    box-sizing: border-box;
    width: 372px;
    height: 28px;
    left: 52px;
    top: 205px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn{
position: absolute;
padding: var(--padding);
top: 284px;
display: flex;
justify-content: space-between;
box-sizing: border-box;
width: 100%;
}
.Generate,.filter{
    font-size: 16px;
    background-color: #10B981;
    color: white;
    width: 191px;
    height: 42px;
border-radius: 6px;
padding: 9px 17px 9px 15px;
border: 1px solid #000000;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
transition: all 0.2s ease-in-out;

}
.Generate:hover,
.filter:hover{
    transform: translateY(5px);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 1);
}
.line{
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;
    background-color: #D5D4D8;
    border: 1px solid #D5D4D8;
}
.password-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    padding: var(--padding);
    top: 396px;
    box-sizing: border-box;
    width: 100%;
}
.display-passwaord{
    background-color: #273549;
    width: 211px;
    height: 39px;
    border-radius: 6px;
    color: #5DEF92;
    box-shadow: 0px 5px 2px rgba(39, 53, 73, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
